node_modules/
vendor/*
!vendor/autoload.php
!vendor/composer
!vendor/guzzlehttp
!vendor/microsoft
!vendor/psr
!vendor/ralouphie
!vendor/symfony

# Cypress error artifacts.
/tests/cypress/screenshots
/tests/cypress/videos
